@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Fetch Mates, best way to bring your dog to the park!</h1>
    @Html.ActionLink("Dog Information", "Index", "Dogs")<br />
    @Html.ActionLink("Visit the Park", "Index", "DogParkVisits")
</div>
