@{
    ViewData["Title"] = "Home Page";
}

<div class="home-try">
    <h1 class="display-4 text-center">Welcome To Fetch Mates</h1><br/>
    <div class="col-3">
        <h5>The website that allows you to schedule a time to hit the dog park!</h5>
        <p>Create a profile for your pup, then schedule a time to go to your local park! This site will give dog owners an idea of how many dogs will be at the local dog park. What are your waiting for find some new friends for your pup!</p><br />
        <a class="btn btn-primary" asp-controller="Dogs" asp-action="Create">Create a Profile</a><br /><br />
        <a class="btn btn-primary" asp-controller="DogParkVisits" asp-action="Create">Hit the Park</a>
    </div>
</div>
