@{
    ViewData["Title"] = "Home Page";
}

<section >
    <div class="slider-inner">

        <div class="vertical-middle">
            <div class="container py-5">
                <div class="emphasis-title dark m-0">
                    <h1 style="font-size: 45px; line-height: 1.4; font-weight: 600; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);">Welcome To Fetch Mates</h1><br />

                    <h4 style="font-size: 30px; line-height: 1.4; font-weight: 600; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);">Dogs need a place to play and have fun, we are here to help you find that perfect dog park!</h4> <br />
                    <p class="font-weight-heavy d-none d-md-block text-dark " style="font-size: 16px; font-weight: bold;">This website is made by a dog owner for dog owners! Sometimes going to a dog park and meeting new pups can be stressful, we are here to relieve that stress!</p><br />
                    <a class="btn btn-dark" asp-controller="Dogs" asp-action="Create">Create a Profile</a><span class="leftmargin-sm"> or</span>
                    <a class="btn btn-dark" asp-controller="DogParkVisits" asp-action="Create">Hit the Park</a><span class="rightmargin-sm"></span>

                </div>
            </div>
        </div>

    </div>
</section>