@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Fetch Mates</h1>
    <h4>The website that allows you to schedule a time to hit the dog park!</h4>
    <a class="btn btn-primary" asp-controller="Dogs" asp-action="Create">Create a Profile</a>
    <a class="btn btn-primary" asp-controller="DogParkVisits" asp-action="Create">Hit the Park</a>
</div>
