@{
    ViewData["Title"] = "Home Page";
}
<div>
    
    
        <div class="text-center" >
            <h1 class="display-4" >Welcome To Fetch Mates, best way to bring your dog to the park!</h1>
        </div>
    
</div>
