@model FetchMatesClone.Models.DogParkVisit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Park Visit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Park Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkName)
        </dd>
        <dt class = "col-sm-2">
            Planned Visit
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayAndTime)
        </dd>
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dog.DogName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VisitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
